<button id="btn-atras" class="btn btn-success" (click)="this.router.navigateByUrl('home-alumno')">Atras</button>
<div class="screen">
    

    <div class="container">


        <div class="login">

            <div class="form">

                <form>





                        <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <div class="input-group-append">
                                            <label>Materias disponibles:</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect02" name="materia"
                                            [(ngModel)]="materia">
                                            <option [value]="m.id" *ngFor="let m of this.materias" [ngClass]="m.cupos>20 ? 'rojo':'verde'">{{m.nombre }} --- Cupos: {{m.cupos}}</option>
                                        </select>
        
                                    </div>
                                </div>
                            </div>

                    <div class="row">

                        <div class="col-sm">
                            <div class="form-group">
                                <button id="btn-ingresar" class="btn btn-success btn-block"
                                    (click)="anotarseEnMateria()">Anotarse</button>
                            </div>
                        </div>
                    </div>



                    <div *ngIf="mostrarExito" id="alert-error" class="alert alert-success alert-dismissible fade show"
                    role="alert">
                    <strong>{{exito}}</strong>
                    <button type="button" class="close" (click)="mostrarExito=false">x</button>
    
                    </div>

                    <div *ngIf="mostrarError" id="alert-error" class="alert alert-danger alert-dismissible fade show"
                        role="alert">
                        <strong>{{error}}</strong>
                        <button type="button" class="close" (click)="mostrarError=false">x</button>

                    </div>

                </form>


            </div>
        </div>
    </div>