<div class="screen">
    <button id="btn-atras" class="btn btn-success" (click)="this.router.navigateByUrl('home-adm')">Atras</button>
        

    <div class="container">


        <div class="login">

            <div class="form">

                <form>





                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="correo">Nombre:</label>
                                <input type="text" class="form-control"  aria-describedby="emailHelp"
                                    name="nombre" [(ngModel)]="nombre">
                            </div>
                        </div>
                    </div>






                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="correo">Cuatrimestre:</label>
                                <div class="input-group-append">
                                    <label>Numero:</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect02" name="cuatrimestre"
                                    [(ngModel)]="cuatrimestre">
                                    <option value="" selected>Elija un cuatrimestre..</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>






                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="correo">Cupos:</label>
                                <input type="number" class="form-control" id="cupos" aria-describedby="emailHelp"
                                    name="cupos" [(ngModel)]="cupos">
                                <small id="correo" class="form-text text-muted">Máximo 30 cupos.</small>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <div class="input-group-append">
                                    <label>Profesores:</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect02" name="profesor"
                                    [(ngModel)]="profesor">
                                    <option value="" >Elija un profesor..</option>
                                    <option [value]="p.correo" *ngFor="let p of this.profesores">{{p.correo }}</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm">
                            <div class="form-group">
                                <button id="btn-ingresar" class="btn btn-success btn-block"
                                    (click)="cargarMateria()">Registrar materia</button>
                            </div>
                        </div>
                    </div>

                    
                <div *ngIf="mostrarExito" id="alert-error" class="alert alert-success alert-dismissible fade show"
                    role="alert">
                    <strong>{{exito}}</strong>
                    <button type="button" class="close" (click)="mostrarExito=false">x</button>
    
                </div>


            <div *ngIf="mostrarError" id="alert-error" class="alert alert-danger alert-dismissible fade show"
                role="alert">
                <strong>{{error}}</strong>
                <button type="button" class="close" (click)="mostrarError=false">x</button>

            </div>

            </form>


        </div>
    </div>
</div>