
#btn-atras{
    position: fixed;
    top:2%;
}

.login{
    
    padding: 10px;
    background-color: rgba(246, 243, 243,0.4);
    margin-top: 5%;
    border-style: solid;
    border-color: black;
    
}

.screen{
    position: absolute;
    width: 100%;
    height: 100%;
}