<div class="content">
<div class="card" style="width: 18rem;">
    <img src="../../../assets/imagenes/alta-materia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alta de materias</h5>
      <p class="card-text">Aquí se harán las altas de materias</p>
      <a  class="btn btn-primary" (click)="this.router.navigateByUrl('alta-materia')">Dar de alta una materia</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/imagenes/materia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ver materias</h5>
      <p class="card-text">Aquí se van a listar todas las materias</p>
      <a  class="btn btn-primary" (click)="this.router.navigateByUrl('listado-materias')">Ver lista de materias</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/imagenes/usuarios.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ver usuarios</h5>
      <p class="card-text">Aquí se verán todos los usuarios</p>
      <a  class="btn btn-primary" (click)="this.router.navigateByUrl('listado-usuarios')">Ver lista de usuarios</a>
    </div>
  </div>
</div>
