<button id="btn-atras" class="btn btn-success" (click)="this.router.navigateByUrl('home-profesor')">Atras</button>

<div class="content">

  <div class="tabla class overflow-auto">
    <div *ngIf="this.materias">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" align="center">Materias a cargo:</th>


          </tr>
          <tr>
            <th scope="col">Numero de materia</th>
            <th scope="col">Nombre de materia</th>
            <th scope="col">Cuatrimestre</th>
            <th scope="col">Cupos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of this.materias">
            <td>{{m.id}}</td>
            <td>{{m.nombre}}</td>
            <td>{{m.cuatrimestre}}</td>
            <td>{{m.cupos}}</td>



          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>