<app-email></app-email>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a  class="btn btn-primary" (click)="this.router.navigateByUrl('alta-materia-alumno')">Inscribir a materias</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a  class="btn btn-primary" (click)="this.router.navigateByUrl('materias-alumno')">Mis materias</a>
    </div>
  </div>

